---
layout: page
title: "About"
description: "Keep hands dirty!"
header-img: "img/post-bg-rwd.jpg"
---

<div class="zh post-container">

    <!--copied from markdown -->
     <h2 id="loopy">Hi, this is loopy!</h2>
     <p>I am a student and programming learner, mainly interested in Python&CPP.</p>
     <p>Here are some links towards me:</p>
     <ul>
         <li>Talk is cheap but necessary: <a href="https://stackoverflow.com/users/12827286/loopy">StackOverflow</a>
         </li>
         <li>So let the code talks: <a href="https://github.com/loopyme">Github-loopyme</a> and <a
                 href="https://github.com/CQU-AI">Github-cquai</a></li>
         <li>I also made some Python toy packages:<a href="https://pypi.org/user/loopyme/">Pypi</a></li>
         <li>Misc stuffs is <a href="http://www.loopy.tech/">here</a></li>
         <li><a href=".">Blog</a> -- That's what you are looking at</li>
         <li>In case you want to contact me: <a href="mailto://peter@mail.loopy.tech">email</a> or <a
                 href="https://t.me/loopyme">telegram</a></li>
     </ul>
     <p>I love Python. A lot.</p>
     <h2 id="signatures">Signatures</h2>
     <p>Below are some of my public keys, anything signed with the correspond private keys can be considered as my
         creation.</p>
     <ul>
         <li><a
                 href="data:text/plain;charset=utf-8,ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxcbWE848M7VxpcW+kFw9woC0+UXy/APYisAea2fKk2jWSxzF2RS0aDnv9rkhoGn/ytNb+arrzDerI/uS4+4TR7y0WaaJXJF+pb2TuNgjZNO0Oi11pawCLaX/c1M32i7dJKVnQswBXfDDKjmc9b2h//h9TMvrhGXJbIq84djN7RcO0G6QxA6EwCDo3k3DXpwyEDrPKAZ2tToFSuWuQvjNSPIW0qkGqULFYJ1ohtJQGg4xvg7ks1z2WstxDifABvbAWcu5Rw0iXcFB7a3oEXDVlmcaNbj7zHoD/rF+e5GKu0y1imTJbMPLhkh1NfNzvagO5Y1Hboc6rzy3KftW61/zB 57658689098a@gmail.com">RSA
                 KEY 0</a></li>
         <li><a
                 href="data:text/plain;charset=utf-8,ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPynbgE8MgUp+6eFhr68bpzqSTee+7NfJsL9bhYszXv4Ut54D4FSQMQ1fI38z9oWqTOKihnCav5qs5M+Mzp/5AqMlIND+tkj6C4IhWazDjRGkvYOMS7fg6xVBTQWB53XYr/G9Ot24Q9xRPRok+4NFvwSljzJP5u2Ci7rsGBalE+2E57s/zaiBpOgAGo9OBJMiPn6Os7IReWGWDPKikodJG8JKddYGmcNsxrtrJWAOZJ+u3j3R3HgOzNv+g7LQCZL/7hk9v+53FqDcj6HxvB3Modmggy6W3bQMv8yZT2u6k3lEE0bSR9RgkDt8S8bnNA3SGcTzPkyG6Sv3/EdI3l0Zh l-p-y@outlook.com">RSA
                 KEY 1</a></li>
         <li><a
                 href="data:text/plain;charset=utf-8,ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAxZG6ARmqDb8CttoXh4E/RDUOHMAeYr74CSTv9YGm9j7yrmEEm38nyyH3YOf95EvN2tedHNkY2yclLQZvufl7Ybt9sW8AQUDW9gwP+7TUtIXzXvmzbZa6Np5444eDUHyGg+RFjOthYJUpZAjfvPdYmmsBlaU0bNg/22NPJ7U+NSB1SN/wzgvr+MUzSbflmYnE3wuxjT2T608RQi5xCx4BSwU3i41qkFDpv+YPVhbEt1w88avLIaN2RWKYvNC8aESOJ4gzbGfplDZ8WfuKHi/hEI6xWK2/3kvhzOQMZ6Bx18xNQdfUCsaxYqVFW981hW0xrcbsDYrcbC1mYOhhprkHhiJMm3izMDMzgtBx3Yja+uFhgKXLCRxSrENMBpOyTD1C3i73F5AOhnb+yr8vQS19Jckv5QJptQDuTA0TVXK4/7FsE0UI6JV2o8Zl2EA6MdRAVJPaDvHLUM8VUBSIMNXXgBoc3C47mzaLG1CQgQKAxALtY5FQ/1eRmosD09vsT8HagnS6VUvOY/Vc6V8CSXyFaH0bS2afY/DjsLBZNrO2mJ0rVv2JvL8uDWbQ5iFaZLsOveLHCZg+G/wo0/3/zgEeHNXLT5LcFL7bgynXslI4huCjSPz6fZxqSpu44wcy4XlP6fIFahKrVX4kllQGIYptnCtTWW84lzoNC+aBq7KiXw== peter@mail.loopy.tech">RSA
                 KEY 2</a></li>
         <li><a
                 href="data:text/plain;charset=utf-8,ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDa3BiZr2RwxQ72Z+CH/csB6jMvUm+DGXV6kSvbmnE/Uc/1Lc8vBoddFOmFyBfncrGcBnz752Pw/InDjrqNWiJW/8VLUMT6IHcth2xZfXxfjgXU2nSFugr+6e8yoUcswJsTiHicIzkjaSZ+CAw4SZq+a9XsJxTcxDqH08RpcKZTAjxNYP/oArbgW/Lwuf7lJRQpM8ek52RdjWBV7lzByktb927jblAkbdsF3/JO7UakxuuHjG3mdu8P761xXpWHDe7VxFs3ZcHSyu1XceYt0QjCddL7wqFgYrNY7A5KAU1VlpNmgb9Dl6Y81GQP2MpPLIFfBy/kid0dNgAGurax78sJumISu8pqJHoU3HsQv43RtmlwvrEfOmqJiBveuqpuElZryKwpajJ3AqKb8KQuXTskZBalk933SouFcyMEUUXg7Tr8cF98T/a0AW7plE9BZY1JvifEov4tYUyNo7i9NWtXX2MvF3wxe12Ae/im9i9RZAR0BYoRhcDD+xWtu3r6fSgAFgTMZT9M1BUHN13rf0vbqGgQG6WoJGjRcbkcHnv8zEOyNV0f5MO4ZOiq6vCLDvmvjtlVYcJWH7FVFJccuckYMYAWeYkWjjinGsvaSN38UELs8ak/nuqSsfM/MgsLOGSmX3y78c4o0GHUH7wfSEcZ3uABDU+D992tsgBhMif/pw== kwuchadc">RSA
                 KEY 3</a></li>
         <li><a href="data:text/plain;charset=utf-8,-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBF7+zoEBDADaa+nfEtCzjg9Ag4XtqzSBEqbz/P+ODfMKHtTXVF3nB/3cV4Ru
24MniA80G1Aa4YpEbM2Z4BXgr1yMydPyrnbTuXgwI0bQBn3WbGokyiE91lm+j9EL
Ee8ScSuq7SW0vuJBS44AkdRc35d9Xy8VWNWXCKjxX4O+I1/WiYbnZ5O6f6kbfPuO
SOgdejggN5jGTh4PGQSkq4ZAQg+0cLXWgd+8+ZW0TQ37Xo7bLOm/1KpYddOu2AJS
VUZUKX23y3J6cFTWgc+501NcCbjQG/XzO0KchQrGy/gdl3oB1f55km5/nAHt5ImJ
93r5PnHVvFk8HxIj9ssQZlpmrryfiGpB0UhhQfRq4UUMgYrNVY1RKLn+pNYiP2xL
84f6Eca9kbxX6+YSO4e1+OBu2zZ2a+ePBIUISfU8l7YVdYZiJq6/buJhRIcLXNbO
BrsI9X8E2NliVw7KaYS08/9dFWd3k+cbgmDAOXoB1yNXg7zDyuj/bCFoqvhlIZns
uOOZYY8XskWtjC8AEQEAAbQhUGV0ZXIgTGVlIDxwZXRlckBtYWlsLmxvb3B5LnRl
Y2g+iQHUBBMBCgA+FiEEcSfhBRPmaWerQf9jsfDBd/oIjAAFAl7+zoECGwMFCQPC
ZwAFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQsfDBd/oIjAAe6gwAl7ZURBM6
9ov4g6o4T3fOgBitKGZUe71UWAeMltWRitKTxV8+KEzyqAElaWPvK2TOK69OtTsT
f2kPysPyMTZsihyrYQl1yc4cKhkfIGCipwcvW4k981C+uqH7ID2F6WDFiISt7AnB
uOidr7o1DxrGGXJoHB0sfgsgXIzp8uCHDDNRIGOeGt1Ba9Nyg4oEzHLi2foPRmVj
H3sAmXOn6Ugavsoc1+QXOIAV3dw+02eI4bSoxzNlXgD35qDHTFaJiW0VTO9OJaTk
VothrvjCRr8P8IGrehdzoOBead4Sl1o8OehHJAJJU4o08GrLRyIlDXIHXZMjQ5jq
oEMhTVYZpN7VmKGW9h79Kfv3Ws38lm7w860nomNJ6gQAMPokz6av4Nld3iwZJ9Cv
ofo7QCzOLOUqWbcFH0ZEXT6mCBFRu4hfv++ILXxy6yne/vxvyiyVdUXuTKhN5LIU
RGGcFLdkWfYEClHQSXyf7cJ3WjZpGg/Q0YmIyPPxoho2aihXz7WqeUb7uQGNBF7+
zoEBDADRfxuwKvnTQ6SKXRSnp7Mbxx5lvHe4sEXu8iOWEthTC4pXJd3Wz7RD/d+D
Jf0rInASS+2JHGuEP8AmY73bG+YvvDoZrydtEimKtkJI1jfzRicjYuzqrM40qD60
YBlMw2zuMp2A3/cyv0TQMqcM83huic1Gl/CnKM58wBz/TWxplNAUJ5pspJab6fWl
XWR0mCvguBc6Wo2JJjque4aJt2++f2tC//GPPkqjhSz61rnuVB07IjSa/3W3dNsq
ICnAWcC2xxU0dUn9bOQ5Ih+oSbnE6/EOMBMIZd+DsX+CfKachaJF3/91HFI2dXum
mrY5iG+vzZjDxQjAMKjZpWu/rRycQsz+ig13kQvLbxKFkBLiMNEwtkfIsMuRuUxq
d58qcI05IOzD1eReSKDjRwOAsDFUn+7tHW4wBWGGoBdHHOplauaBrPfkqo1PQcVe
9yShfQw8/uud/5LS8gnLROHJsxMePTXVyjYnGvATlwhOM3GOZIVjSZ9AVHVl0Ya5
Tctga7EAEQEAAYkBvAQYAQoAJhYhBHEn4QUT5mlnq0H/Y7HwwXf6CIwABQJe/s6B
AhsMBQkDwmcAAAoJELHwwXf6CIwAAboMANBQyTl3tB//C1OyEH+vlQZNygs0hy4d
TmgXFAXDfGDHW0/9pJ0e+0lA9dzjyMH+mKraJMHTtriiiitzK0CAnC9n/qjuWcuT
ON6Ak4Z6QRnnBupMM2raIFDqYre9VTW06bmmCrbCe8gmIXuBZr2A/EpxxAote1li
mCqkNumklbFQK4/RHsr/xw1Im+KS0DlbK9KzwHDDi/7bEMKNkM+DYxh1Tdkk7WQE
wsyK56J17bk/6IYpreZZPdulIJfv5uIN/EB3ZQMUcAzD+kRuyo49RcgXcUnRxU2s
9LhK5qZ6gtlAZ+snxMBL/4qT7YkTToqDk4mtPJ6dCLANV4+2bI/HdlJCYpH8bI/v
gaLBaVAZhN2TEtUQL/wXFU1M407zI61U0oQv2Au8HCu+nJAV+7jEMnRc5ANH1GCV
YTVnTlXpOAO9EjMh8u+WbSb+XRBJD/RbM1TN6aKrdrer35mgr003zI9bCUkXGRCp
CndwixmgGgmcDbeZGUBx//7ZCkSWctsMoQ==
=Q+GP
-----END PGP PUBLIC KEY BLOCK-----">GPG KEY</a></li>
     </ul>

</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
